<div class="well new-user">
  <p>This was my first chance to dabble with the Twilio API. Sign up with your phone number, pick a category, and you'll be texted a new quote every day at 10am! Enjoy!</p>

</div>