.new-user, .login-user {
  width: 20%;
  margin: 0 auto;
  position: relative;
  top: 3em;
}

.btn-success.new-user-btn, .sign-in-user-btn, .btn-danger, .btn-warning {
  margin-top: 1em;
  width: 70%;
}

.main-nav {
  width: 19%;
  margin: 2em auto 0 auto;

}

.qod {
  position: fixed;
  bottom: 3em;
  margin: 0 auto;
  width: 60%;
  left: 20%;
  text-align: center;
  color: white;
  background-color: cornflowerblue;

}

.title {
  text-align: center;
  margin-bottom: 0; 
  line-height: 0;
  color: white;
  background-color: cornflowerblue;
  margin: 0 auto;
  width: 20%;
}